# Python Atoms: Booleans, Numbers, and Strings

In Python, we have three elementary data types: numbers, booleans, and strings. I will discuss each of them in turn.

## 1 Booleans

A boolean can have only two values: `True` and `False`.

In [2]:
type(False)

bool

In [3]:
type(True)

bool

Hint: Never use `False` or `True` as variable names. This is all I say about booleans for now but they -- together with the operators for logical comparisons -- will be important for many of the code structures later on.

## 2 Numbers

### 2.1 Integers

Python has two classes of numbers: integers and floating point numbers.

In [4]:
type(7)

int

In [6]:
type(7.0)

float

Any sequence of numbers without a dot specifies an integer. These can be either positive or negative.

In [8]:
+10

10

In [9]:
-10

-10

In principle, we can use Python just as an overqualified calculator.

In [10]:
5+5

10

In [11]:
5-5

0

In [12]:
5*5

25

In [13]:
5/5

1.0

Note that although we divided an integer by an integer, the result is a float here.

In [14]:
type(5/5)

float

In [15]:
6//5

1

In [16]:
type(6//5)

int

In [18]:
7%5

2

In [20]:
2**3

8

In [21]:
(2**2) + (4/3) + 1

6.333333333333333

Notice that if you want to change the precedence of operations you have to use parentheses.

In [22]:
7 / 5 + 2

3.4

In [23]:
7 / (5 + 2)

1.0

What happens if we divide by zero?

In [24]:
5/0

ZeroDivisionError: division by zero

Python notices that this is not a valid operation and throws an error.

### Intermezzo: Variables

Of course we cannot just use Python as a naive calculator. We can also assign numbers to variables and perform calculations with them.

In [25]:
a = 7
b = 5
a / b

1.4

Let's say we want to store the result of our division in another variable. We can easily do that.

In [26]:
a = 7
b = 5
c = a / b

This time you will not see the actual result. We have just assigned the division to the variable `c` but nothing in our code says that this result should be printed to the display as well. For that we the `print` function.

In [27]:
a = 7
b = 5
c = a / b
print(c)

1.4

If you want to change the value of a variable you can simply reassign it.

In [28]:
a = 7
print(a)
a = 5
print(a)

7
5

We can also use recursion in our variable assignments. Let's say we want to decrease the old value of _a_ by one.

In [8]:
a = 5
print(a)
a = a - 1
print(a)

5
4

We can write this more compactly as follows.

In [29]:
a = 5 
a += 1
print(a)

6

You can use the same shortcut with other arithmetic operators.

In [31]:
a = 5
a *= a
print(a)

25

### 2.2 Floats

OK, so floating-point numbers are the ones that have decimal points. You can use all of the previous operations.

In [34]:
2 + 3.0

5.0

Notice that the result is also a float.

Since this subsection would otherwise be very short, let me take the opportunity to show you some more math functions. You can of course also use them with integers. For this we need to import the `math` module. We will explain modules later in more detail but for the moment you only need to know that a module brings you new functions you would otherwise not have.

In [35]:
import math

This module gives you some predefined constants such pi and e.

In [36]:
math.pi

3.141592653589793

In [37]:
math.e

2.718281828459045

But the main benefit are the additional functions.

In [38]:
# absolute values
math.fabs(-12.0)

12.0

In [39]:
# rounding down
math.floor(13.5)

13

In [40]:
# rounding up
math.ceil(13.5)

14

In [41]:
# logarithm with base e
math.log(1.0)

0.0

In [42]:
# logarithm with base 2
math.log(8.0, 2.0)

3.0

In [43]:
# square root
math.sqrt(4.0)

2.0

So, that's it for now. But there is more and you can look it up by browsing through the help file for the module.

In [44]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.7/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /usr/local/Cellar/python/3.7.5/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so

Another thing that you might have noticed, is that I use the `#` to place comments. In ipython you can also use markdown to comment your code but for more complicated projects you will probably want to switch to a serious text and then commenting with `#` comes in handy.

### 2.3 Type conversions

What if you mix different types? Sometimes Python will just try to help you.

In [45]:
True + False

1

In [46]:
True + 1

2

In [47]:
True*3 + False*4

3

Python implicitly converts the booleans `True` and `False` to `1` and `0` respectively. In a similar way, Python also converts integers to floating point numbers when you do computations with them.

In [20]:
4 + 12.0

16.0

You can also do type conversions explicitly by using the `int`, `float`, and `bool` functions.

In [48]:
float(1)

1.0

In [22]:
int(2.7)

2

In [49]:
int(-2.7)

-2

In [50]:
float(False)

0.0

In [51]:
bool(1)

True

By the way, what happens if you convert a number different from 0 or 1 to boolean? Let's find out.

In [54]:
bool(0.0)

False

Every number that is not 0 gets evaluated as `True` when converted to a boolean. Similarly, an empty string gets converted to `False` but every non-empty string is evaluated as `True`. This also holds for lists etc. 

Finally, this explicit conversion works also with strings which you don't know yet but will soon.

In [27]:
float('1.6')

1.6

In [55]:
float('1e4')

10000.0

## 3 Strings

### 3.1 Definition

In Python (and real life) we frequently not only work with numbers but also with text. Such text data can be stored in strings, the last basic data type we will get to know. A string is created by using either single or double quotes.

In [56]:
'Hello World!'

'Hello World!'

In [30]:
"Hello World!"

'Hello World!'

In [57]:
type('Hello World!')

str

The main purpose of being able to choose between single or double quotes is to faciliate entering strings with quotes in them.

In [58]:
"Keynes said: "In the long run we are all dead""

SyntaxError: invalid syntax (<ipython-input-58-c1b9f82aefd0>, line 1)

In [61]:
'Keynes said: \'In the long run we are all dead."'

'Keynes said: \'In the long run we are all dead."'

Example test

Of course, we can again store strings in variables.

In [63]:
shout_out = 'Hello World'

Again, this time nothing is printed out. To see something on our scree, we have to use the `print` function.

In [66]:
print(shout_out)

Hello World

Note that there is a difference between the echoing of the string and the _print_ function.

In [67]:
'Keynes said: "In the long we are all dead".'

'Keynes said: "In the long we are all dead".'

In [68]:
print('Keynes said "In the long we are all dead".')

Keynes said "In the long we are all dead".

The `print` function is helpful to make strings more readible and combine them easily.

In [70]:
print('The current', 'population', 'is', 2, 'and they hate each other.', 'Example')

The current population is 2 and they hate each other. Example

The function creates a whitespace between the different strings, automatically converts numbers to strings and adds a newline at the end. Again, you can also explicitly force a type conversion using the `str` function.

In [71]:
str(88.0)

'88.0'

In [72]:
str(True)

'True'

One more thing here. When you convert an empty string to a boolean, it is evaluated as `False'.

In [74]:
bool('')

False

This might seem weird but will be very helpful later on.

### 3.2 Escape

You can use a backslash to escape the normal meaning of a character when you create strings. Two very common uses for the escape are `\n` and `\t` for a new line or a tab.

In [77]:
print('What did \nKeynes say?')

What did
Keynes say?

In [35]:
print('What did \tKeynes say?')

What did 	Keynes say?

You can also use the backslash to escape the normal meaning of single or double quotes.

In [81]:
print("Keynes said \"In the long we are all dead.\"")

Keynes said "In the long we are all dead."

For an actual backslash you need to write two backslashes.

In [37]:
print('This is a backslash: \\.')

This is a backslash: \.

### 3.3 Combining and duplicating with `+` and `*`

When you use the operators `+` and `*` with strings they function differently. Of course, we can't add and substract strings!

In [82]:
'Keynes ' + 'knew ' + 'Wittgenstein.'

'Keynes knew Wittgenstein.'

In [83]:
'Who said that? ' + 'Keynes '*3 + '!'

'Who said that? Keynes Keynes Keynes !'

As you can see, `+` can be used to join strings, while `*` can be used to duplicate strings.

### 3.4 Extracting and slicing strings

Extracting specific characters or substrings from strings is very easy. Let us first extract characters.

In [84]:
economist = 'Friedrich August von Hayek'

Let's say we want to get the first character of this string. A natural way to do this would be the following.

In [85]:
economist[1]

'r'

This is clearly wrong! To obtain the character you have to specify the offset which is not 1 but 0.

In [86]:
economist[0]

'F'

Thus, to get the fourth element you write.

In [66]:
economist[3]

'e'

By using negative numbers you can start from the other side of the string.

In [88]:
economist[-3]

'y'

Let's say you want to change the third element of a string to an 'e'. You might think you can do this as follows.

In [89]:
economist[2] = 'e'
economist

TypeError: 'str' object does not support item assignment

We messed up again! The problem is due to the fact that you can't change a string because it is _immutable_: Once it is created you cannot change it. In fact, you have to create a new string. We will do this later.

Now, we have extracted single characters. What if we want to extract whole substrings? We can slice strings using `[start : end : step]`.

In [90]:
# extract the whole string
economist[:]

'Friedrich August von Hayek'

In [92]:
# extract the string starting from a specific offset 
economist[0:]

'Friedrich August von Hayek'

In [94]:
# extracts the string from the beginning and stops at a specific offset minus 1
economist[:2]

'Fr'

In [95]:
# extracts the string from a specific offset and stops at a specific offset minus 1
economist[10:16]

'August'

Be careful with the index when slicing. The left index is always included while the right one is not. This is always a little bit tricky: For example, to get to the 4th letter which is at offset `3` you have to type `4` for slicing in order to catch it.

In [99]:
# extracts the string from a specific offset and stops at a specific offset in specific steps
economist[::3]

'Fei gtoHe'

You can also again use negative indexes.

In [100]:
economist[-5:]

'Hayek'

In [101]:
# 'cool' trick to reverse strings
economist[-1::-1]

'keyaH nov tsuguA hcirdeirF'

In [102]:
# this can be shortened
economist[::-1]

'keyaH nov tsuguA hcirdeirF'

#### Challenge

Remember our failed attempt to replace a character?

```python
economist[2] = 'e'
```

Use string slicing and string combination with `+` to do it!

In [104]:
economist = 'Friedrich August von Hayek'
# ---
# add your code here

new_economist = economist[:2] + 'e' + economist[3:]

# ---
print(new_economist)

Freedrich August von Hayek

### 3.5 Length of a String with `len`

The length of a string can be found out with the `len` function.

In [105]:
economist = 'Finkelstein'
len(economist)

11

### 3.6 Splitting and joining strings with the `slit` and `join` methods

Say you have a string and you want to unpack it into several substrings. This can be done with the 
`split` method. Since this function is specific to strings (unless for example `+`) it is used differently than the functions we have seen before.

In [106]:
economists = 'Duflo, Keynes, Finkelstein, Marshall, Marx'
economists.split(',')

['Duflo', ' Keynes', ' Finkelstein', ' Marshall', ' Marx']

Note that we could also have written this without creating a variable as follows.

In [70]:
'Duflo, Keynes, Finkelstein, Marshall, Marx'.split(',')

['Duflo', ' Keynes', ' Finkelstein', ' Marshall', ' Marx']

You will have noticed that we now have five different strings which are separated by commas and enclosed by squared brackets. By splitting the string, we have created a `list`, which is basically a container to store other objects, like several strings. We will come back to them later.

To get back from a list of strings to one string we can use the _join_ function.

In [108]:
list_of_economists = ['Duflo', ' Keynes', ' Finkelstein', ' Marshall', ' Marx']
''.join(list_of_economists)

'Duflo Keynes Finkelstein Marshall Marx'

This might look strange because you first specify the string that is used to combine the strings on the list. In this case it is `,`.

## Challenge

As a challenge, try removing the `y` in `Friedrich August von Hayek` using only the `.split()` and `.join()` methods.

In [111]:
economist = 'Friedrich August von Hayek'
# ---
# add your code here

new_economist = ''.join(economist.split('y'))

# ---
print(new_economist)

Friedrich August von Haek

### 3.8 Other string functions

Of course, there are also a bunch of other functions for strings. In the following, I show you some.

In [112]:
stupid = 'If you rearrange the letters in "ECONOMICS", you get "COMIC NOSE"'

In [113]:
# count occurences
stupid.count('you')

2

In [114]:
# check start of the string
stupid.startswith('If')

True

In [115]:
# check end of the string
stupid.endswith('NOSE')

False

In [116]:
# find offset of first occurence
stupid.find('you')

3

In [117]:
# find offset of last occurence
stupid.rfind('you')

45

In [122]:
# strip string of substrings at beginning or end
string = "'Economics'  "
print(string)

'Economics'

In [123]:
print(string.strip())

'Economics'

OK, finally, what if we want to replace certain parts of a string. As mentioned above, a simple reassignment did not work. And the workarounds with slicing or the `.join()` method were tedious. We need the `replace()` function, which as a default replaces the first occurence of a string.

In [125]:
assertion = 'Keynes is a fool.'
assertion.replace('Keynes', 'Hayek')

'Hayek is a fool.'

Note that this operation hasn't changed our original string.

In [126]:
assertion

'Keynes is a fool.'

You already know that we cannot do that, since strings are immutable. The only thing we can do is to create a new string and reassign it to our old variable.

In [127]:
assertion = assertion.replace('Keynes', 'Hayek')
assertion

'Hayek is a fool.'

OK, that's it so far with the atomic data types. What if we want to combine these types to more complicated structures? We will more types of objects which are discussed in the next section.

### 3.8 String formatting

Say you have a fixed sentence structure in which you want to insert some input. For example, we would like to fill the sentence: "*My favorite economist is xxxxx!*".

You already know one way to do it.

In [128]:
fav_economist = 'Keynes'
'My favorite economist is ' + economist + '.'

'My favorite economist is Friedrich August von Hayek.'

There are however alternative ways to do it:
1. placeholders
2. `format` function

In [136]:
'My favorite economist is %10s!' % new_economist

'My favorite economist is Friedrich August von Haek!'

While `%s` indicates that the input is a string, there are many other options:
- `%s`: string
- `%10s`: string of length 10
- `%d`: digit
- `%3d`: digits of length 3
- `%f`: floats
- `%2.3f`: floats with 2 characters before the decimal point and 3 afterwards

In [138]:
fav_number = 3.141592653589793
'My favorite number is %s!' % fav_number

'My favorite number is 3.141592653589793!'

In [139]:
'My favorite number is %d!' % fav_number

'My favorite number is 3!'

In [140]:
'My favorite number is %f!' % fav_number

'My favorite number is 3.141593!'

In [147]:
'My favorite number is %4.4f!' % fav_number

'My favorite number is 3.1416!'

The other alternative is the `format` function.

In [150]:
'My favorite number is {}!'.format(fav_number)

'My favorite number is 3.141592653589793!'

In [151]:
'My favorite number is {number:1.2f}!'.format(number=fav_number)

'My favorite number is 3.14!'

In [152]:
'My favorite number and economist are {number:1.2f} and {economist:s}!'.format(number=fav_number, economist=fav_economist)

'My favorite number and economist are 3.14 and Keynes!'

The `format` function is very flexible and has additional benefits related to dictionaries, which we haven't seet yet though...

## Sources

The structure of exposition was taken from Bill Lubanovic (2015): Introducing Python: Modern Computing in Simple Packages. O'Reilly: Sebastopol, CA.