# Pandas

In [1]:
import numpy as np
import pandas as pd

In [10]:
unemp = pd.Series([[3.5, 2.4,3.8], [2.3]])

In [11]:
unemp

0    [3.5, 2.4, 3.8]
1              [2.3]
dtype: object

In [15]:
unemp= pd.Series(np.random.normal(size=10))

In [21]:
unemp.values

array([ 1.21101028,  0.58302586, -0.12387485,  1.30992483,  0.29120594,
        0.28196306,  0.48147304, -0.23484553,  1.40429065,  1.28073664])

In [22]:
unemp.index

RangeIndex(start=0, stop=10, step=1)

In [23]:
unemp[2:4]

2   -0.123875
3    1.309925
dtype: float64

In [28]:
values = [3, 2.3, 6] 
names = ['Cali', 'DC', 'Florida']
unemp = pd.Series(values, index=names)
unemp

Cali       3.0
DC         2.3
Florida    6.0
dtype: float64

In [25]:
unemp['Cali']

3.0

In [30]:
data={'states':['Cali', 'DC', 'Florida'], 'unemp':[3, 2.3, 6] }

In [32]:
df = pd.DataFrame(data)

In [33]:
df

    states  unemp
0     Cali    3.0
1       DC    2.3
2  Florida    6.0

In [39]:
df.iloc[1]

states     DC
unemp     2.3
Name: 1, dtype: object

In [43]:
df.loc[1,'states'] # named indexing

'DC'

In [44]:
df.iloc[0,0] # "number" indexing

'Cali'

In [45]:
df['states']

0       Cali
1         DC
2    Florida
Name: states, dtype: object